While Loop

In [1]:
a = 1
while a<10:   #condition check
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9

In [4]:
#print numbers from 10 to 1
num = 10
while num>0:
  print(num,end=" ")
  num-=1

10 9 8 7 6 5 4 3 2 1

In [7]:
# 3 * 1 = 3
# 3 * 2 = 6
# Multiplication Table

mul = 3
num = 1
while num<=10:
  print(f"{mul} * {num} = {mul*num}")
  num+=1   #num = num+1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [8]:
#Calculate the sum of the first n natural numbers using a while loop.

#8     8+7+6+5+4+3+2+1
#4     4+3+2+1

total = 0
num = int(input("Enter a number"))
while num > 0:
  total = total+num
  num-=1
print(f"Total is {total}")

Enter a number8
Total is 36

In [9]:
def add_two(num1,num2):
  return num1+num2

In [10]:
add_two(2,3)

5

In [11]:
add_two(2.7,3.9)

6.6

In [12]:
add_two('hi ','friend')

'hi friend'

In [13]:
#Function to find largest of 3 numbers
def largest(num1,num2,num3):
  if num1>num2 and num1>num3:
    return num1
  elif num2>num1 and num2>num3:
    return num2
  else:
    return num3

In [15]:
largest(89.67,78.99,90.99)

90.99

In [31]:
#Function to check whether given string is palindrome
#amma
#malayalam
#rotor

def palindrome(str1):
  str1 = str1.lower()
  if str1 == str1[::-1]:
    return True
  else:
    return False

In [32]:
value = input("Enter a string ")
if palindrome(value):
  print(f"{value} is palindrome")
else:
  print(f"{value} is not palindrome")

Enter a string Malayalam
Malayalam is palindrome

In [33]:
#.Write a function to calculate the factorial of a given number

def factorial(num):
  f=1
  while num>0:
    f = f*num
    num-=1
  return f

In [34]:
factorial(5)

120

In [35]:
#Write a function to find the largest number in a list

def lar_list(list1):
  larg = list1[0]
  for element in list1:
    if element>larg:
      larg = element
  return larg

In [36]:
lar_list([45,34,23,99,24])

99

In [42]:
#Write a function to find all prime numbers in a given range


def prime(num):
  chk = 2
  while chk<num:
    if num%chk == 0:
      return False
    chk+=1
  return True

In [46]:
ran = int(input("Enter Range"))
for i in range(1,ran+1):
  if prime(i):
    print(i,end=" ")

Enter Range100
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [47]:
#Count the number of digits in a given number using a while loop.

num = int(input("Enter Number"))
count = 0
while num>0:
  rem = num%10
  count+=1
  num=num//10

print(count)

  #1234   rem=4 num=123  count=1
  #123    rem=3 num=12   count=2
  #12     rem=2 num=1    count=3
  #1      rem=1  num=0   count=4

Enter Number1234
4